.weeklyForecast {
  display: flex;
  gap: 1rem;
}

.actualForecast {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 230px;
  border-radius: 1rem;
  background-color: var(--main-card);
  border: 1px solid var(--bord-color);
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid var(--bord-color);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.temperature .temp {
  font-size: 3rem;
  font-weight: bold;
}

.temperature .weatherIcon img {
  width: 80px;
  height: 80px;
}

.description {
  font-weight: 500;
}

.informations {
  font-size: 0.875rem;
}

.informations span {
  font-weight: 500;
}

.sunriseSunset {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

/* DAILY FORECAST */
.dailyForecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  width: 100px;
  border-radius: 1rem;
  background-color: var(--card-bg);
}

.dailyForecastWeekday {
  padding: 0 1rem 1rem;
  border-bottom: 1px solid var(--bord-color);
  font-weight: bold;
}

.dailyForecastWeatherIcon img {
  width: 60px;
  height: 60px;
}

.dailyForecastDescription {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}

.dailyForecastTemps {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
}

.tempMax,
.tempMin {
  font-weight: bold;
}

.tempMax {
  color: tomato;
}

.tempMin {
  color: lightskyblue;
}
