:root {
  --background: #f3f3f3;
  --foreground: #343436;
  --footer: #34343680;
  --card-bg: #e5e5e5;
  --bord-color: #72717159;
  --main-card: #e2e1e4;
  --max: #e2251a;
  --min: #0380cc;
}

[data-theme="dark"] {
  --background: #101014;
  --foreground: #ededed;
  --footer: #ededed80;
  --card-bg: #2b2a2d;
  --bord-color: #e4e4e41e;
  --main-card: #4a4a4a;
  --active: #cbcbcb;
}

html,
body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 85%;
  }
}
