:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #2b2a2d;
  --bord-color: #e4e4e41e;
  --main-card: #4a4a4a;
  --max: #e2251a;
  --min: #0380cc;

  --respo: 1000px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101014;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 85%;
  }
}
