.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--card-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  border-bottom: 1px solid var(--bord-color);
}
